<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Karaoke Collection</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body class="bg-body-tertiary" data-bs-theme="dark">
<div class="container py-5">
  <!-- Lyrics Card -->
  <div class="row justify-content-center mb-4">
    <div class="col-lg">
      <div class="card shadow-sm">
        <!-- Header -->
        <div class="card-header px-3 d-flex flex-row justify-content-start align-items-center">
          <h5 class="m-0 mx-2 py-1">Karaoke Collection</h5>
        </div>
        <!-- Body -->
        <div class="card-body p-0 list-group list-group-flush">
          {% for song in song_overview %}
          <a class="list-group-item list-group-item-action" href="{{ song.href }}">
            <div class="small"><span class="fw-bold small">Anime: </span><span class="small">{{ song.anime }}</span></div>
            <div><span>{{ song.artist }}</span> - <span>{{ song.title }}</span></div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
